{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta_tags %}

        <title>Schopping Center. Yopti</title>
        <meta name="description" content="The best clothe ever">
        <meta name="keywords" content="clothe, clotheshop, style">

    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lightbox/js/lightbox.js' %}"></script>
</head>
<body>

<div class="container">
    <div class="row main-header">
        <div class="col-6">
            <img src="{% static 'img/logo.png' %}" alt="" id="logo">
        </div>

        <div class="col-6">
            <div><p class="header-text">Unc was not lying. Life is moving pretty fast</p> </div>

            {% if request.user.is_authenticated %}
                <p class="text-end">Hello {{ request.user.user }} (<a href="{% url 'logout' %}">Quit</a>)</p>
            {% else %}
                <p class="text-end"><a href="{% url 'login' %}">Login</a>&nbsp;<a href="{% url 'register' %}">Register</a> </p>
            {% endif %}
        </div>
    </div>
    <div class="row main-menu">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_category_list' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Catalog' %}">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_category_list' %}">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_category_list' %}">About</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="{% url 'cart' %}"><b>Cart</b></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="container">
    {% block breadcrumbs %}

    {% endblock %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>